<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assistantapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ServerVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CartoonActivity"></activity>
        <activity android:name=".KnowledgeActivity" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FAQActivity" />
        <activity android:name=".ProfessorActivity" />
        <activity android:name=".ComputerTimeActivity" />
        <activity android:name=".SoftwareCurriActivity" />
        <activity android:name=".SecurityCurriActivity" />
        <activity android:name=".IntellCurriActivity" />
        <activity android:name=".IdeaCurriActivity" />
        <activity android:name=".DataScienceCurriActivity" />
        <activity android:name=".ComputerCurriActivity" />
        <activity android:name=".IdeaStatusActivity" />
        <activity android:name=".IdeaActivity" />
        <activity android:name=".IntellStatusActivity" />
        <activity android:name=".IntellActivity" />
        <activity android:name=".SecurityStatusActivity" />
        <activity android:name=".SecurityActivity" />
        <activity android:name=".DataScienceStatusActivity" />
        <activity android:name=".DataScienceActivity" />
        <activity android:name=".SoftwareStatusActivity" />
        <activity android:name=".SoftwareActivity" />
        <activity android:name=".ComputerStatusActivity" />
        <activity android:name=".ComputerActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>