<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assistantapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ServerVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SettingActivity"></activity>
        <activity android:name=".DatamodifyActivity" />
        <activity android:name=".OnlyQuestionActivity" />
        <activity android:name=".CartoonCurriActivity" />
        <activity android:name=".CartoonActivity" />
        <activity android:name=".KnowledgeActivity" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".FAQActivity" />
        <activity android:name=".ProfessorActivity" />
        <activity android:name=".ComputerTimeActivity" />
        <activity android:name=".SoftwareCurriActivity" />
        <activity android:name=".SecurityCurriActivity" />
        <activity android:name=".UnmannedCurriActivity" />
        <activity android:name=".DesignCurriActivity" />
        <activity android:name=".DataScienceCurriActivity" />
        <activity android:name=".ComputerCurriActivity" />
        <activity android:name=".DesignActivity" />
        <activity android:name=".UnmannedActivity" />
        <activity android:name=".SecurityActivity" />
        <activity android:name=".DataScienceActivity" />
        <activity android:name=".SoftwareActivity" />
        <activity android:name=".StatusActivity" />
        <activity android:name=".ComputerActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>